body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-size: 70px;
    color: #00923D;
}

.title{
    text-align: center;
    position: absolute;
    background-color: #DA231D;
    left: 0;
    width: 100%;
    height: 20%;
}

.left{
    text-align: center;
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.right{
    p{
        margin-top: 28%;
        width: 80%;
        margin-left: 10%;
    }
    font-size: xx-large;
    color: white;
    text-align: center;
    position: absolute;
    height: 100%;
    width: 60%;
    right: 0;
    background-color: rgba(0, 146, 61, 0.75);
}

.about{
    top: 0;
}

.map-container svg {
    margin-top: 40%;
    width: 500px;
    height: 500px;
}

.region, .ukraine {
    cursor: pointer;
    transition: opacity 0.3s;
}

.region:hover, .ukraine:hover {
    opacity: 0.7;
}

.coat_of_arms, .flag{
    height: 75%;
    top: 12.5%;
    position: absolute;
}

.coat_of_arms{
    right: 15%;
}

.flag{
    left: 10%;
}

.ukraine-filler{
    position: fixed;
    right: 2%;
    top: 5%;
}